<div class="row">
    <div class="card card-user col-md-12">
      <div class="card-header">
        <h5 class="card-title">Bộ lọc</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Mã đơn hàng</label>
                <input type="text" class="form-control" placeholder="Mã đơn hàng" value="">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Chọn loại mặt hàng</label>
                <input type="text" class="form-control" placeholder="Loại mặt hàng" value="">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Tên khách hàng</label>
                <input type="text" class="form-control" placeholder="name" value="">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label >Số điện thoại</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label>Trạng thái đơn hàng</label>
                <input type="text" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col-md-2 pr-1">
              <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-primary btn-round" style="margin-top: 27px">Tìm kiếm</button>
              </div>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="customers">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>Loại mặt hàng</th>
              <th>
                Tên
              </th>
              <th>
                SĐT
              </th>
              <th class="text-right">
                Địa chỉ
              </th>
              <th>
                Chi tiết đơn hàng
              </th>
            <th>Giá tiền</th>
            <th>
              Trạng thái đơn hàng
            </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
