<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Tạo tài khoản</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="ml-auto mr-auto">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" value="username">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ml-auto mr-auto">
              <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" placeholder="*******">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ml-auto mr-auto">
              <div class="form-group">
                <label >Nhập lại Password</label>
                <input type="password" class="form-control" placeholder="*******">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ml-auto mr-auto">
              <div class="form-group">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Chọn quyền</option>
                  <option value="1">Sales</option>
                  <option value="2">Marketing</option>
                  <option value="3">PM</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
